{% extends 'base.html' %}

{% block title %}MmB: Login{% endblock title %}

{% block content %}
    <h1>Login</h1>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <form class='login-form' action="{% url 'login'%}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}

        <button class='btn btn-secondary' type='submit'>Login</button>
    </form>
    <hr>
    <h2 class='no-account'>No Account?</h2>
    <a href="{% url 'register' %}" class='btn btn-primary'>Sign Up Here!</a>


{% endblock content %}