{% extends 'base.html' %}

{% block title %}Blogposts{% endblock title %}

{% block content %}
    <h1>Blog Posts</h1>
    <hr>

    {% if blogpost_list %}
        {% for post in blogpost_list  %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <h3 class="sub-post-title"><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></h3>
            <p>{{ post.description }}</p>
            <p class='blog-list-date'>{{ post.published }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>There are no blog posts currently available.</p>
    {% endif %}
{% endblock content %}